@model IEnumerable<TouristicRental.Models.FinanceRecord>

@{
    ViewData["Title"] = "Index";
}

<h1>Finance records</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Add new record</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a class="btn btn-sm btn-outline-warning" asp-action="Edit" asp-route-id="@item.FinanceRecordId">Edit</a> |
                <a class="btn btn-sm btn-outline-light" asp-action="Details" asp-route-id="@item.FinanceRecordId">Details</a> |
                <a class="btn btn-sm btn-outline-danger" asp-action="Delete" asp-route-id="@item.FinanceRecordId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
